@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
    Korzystamy z plików <a href="http://wszystkoociasteczkach.pl/">Cookie</a>.
    @*Więcej informacji <a href="https://pewnemieszkanie.pl/docs/privacy-policy-pm-en.pdf">Polityka prywatności</a> i
    <a href="https://pewnemieszkanie.pl/docs/terms-and-conditions-pm-en.pdf">Regulamin serwisu</a>.*@
    <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
        <span aria-hidden="true">Zgadzam się</span>
    </button>
</div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}