@page
@model IndexModel

<div class="text-center form-signin-container">
    <div asp-validation-summary="All"></div>
    <form class="form-signin" method="post">
        <input asp-for="UserViewModel.Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>